{% extends "base.html" %}
{% load static %}

{% block title %}LOGIN{% endblock title %}


{% block body %}

<div class="main-container-about">
    <div class="card mb-3" style="max-width: 100%; height: 300px; overflow: hidden;">
        <div class="row no-gutters">
          <div class="col-md-4">
            <img src="{% static "images/bk1.jpg" %}" class="imgset-about "   >
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">BK Fitness</h5>
              <p class="card-text">Hello Everyone I am Bikash Gorai the owner of BK Fitness. We are dedicated to providing our members with a comprehensive fitness experience. Our state-of-the-art facility, experienced trainers, and a wide variety of fitness classes ensure that everyone, from beginners to seasoned athlete.</p>
            </div>
          </div>
        </div>
    </div>

      <div class="card mb-3" style="max-width: 100%; height: 300px; overflow: hidden;">
        <div class="row no-gutters">
            <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">Bikash Gorai</h5>
                  <p class="card-text">Join Us Today!
                    Becoming a member of BK Fitness is easy. Sign up online or visit us in person to take a tour of our facilities and meet our team. We offer flexible membership options to suit your needs and are committed to helping you achieve your fitness goals.</p>
                </div>
            </div>
            <div class="col-md-4">
                <img src="{% static "images/bk2.jpg" %}" class="imgset-about">
            </div>
        </div>
      </div>

      <div class="card mb-3" style="max-width: 100%; height: 300px; overflow: hidden;">
        <div class="row no-gutters">
          <div class="col-md-4">
            <img src="{% static "images/bk3.jpg" %}" class="imgset-about">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">Bikash G</h5>
              <p class="card-text">Hello Everyone I am Bikash Gorai the owner of BK Fitness. We are dedicated to providing our members with a comprehensive fitness experience. Our state-of-the-art facility, experienced trainers, and a wide variety of fitness classes ensure that everyone, from beginners to seasoned athlete.</p>
            </div>
          </div>
        </div>
    </div>
</div>

{% endblock body %}